<!-- particles.js container -->
<div class="body">
  <div class="contenedor">
    <div class="top">
      <mat-grid-list cols="2" rowHeight="100%">
        <mat-grid-tile [colspan]="1">
          <div class="home">
            <div class="link">
              <a routerLink="#Feature" routerLinkActive="inactive">Feature</a>
            </div>
            <div class="link">
              <a routerLink="#Blog" routerLinkActive="inactive">Blog</a>
            </div>
            <div class="link">
              <a routerLink="#Community" routerLinkActive="inactive">Community</a>
            </div>
            
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
          <div class="login">

            <div class="link">
              <a routerLink="#discord" routerLinkActive="inactive">Twitter</a>
            </div>
            <div class="link">
                <a routerLink="#discord" routerLinkActive="inactive">Discord</a>
            </div>
            <div class="btn-login">
              <a routerLink="login" routerLinkActive="active">Login</a>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div class="center">
      <div class="content-center">
        <mat-grid-list cols="4" rowHeight="50px">
          <mat-grid-tile colspan="4" rowspan="1">
            <h1>Skill Up Your Discord Server! </h1>

          </mat-grid-tile>
          <mat-grid-tile colspan="4" rowspan="1">
            <h2>{{user.bot}} is a discord bot to bring great new features to your discord server </h2>

          </mat-grid-tile>

          <mat-grid-tile colspan="2" rowspan="1">
            <button class="login-full-width" (click)="addToDisCord()" mat-raised-button color="primary">Add to Discord</button>
          </mat-grid-tile>
          <mat-grid-tile colspan="2" rowspan="1">
            <button class="login-full-width" (click)="leanMore()" mat-raised-button color="primary">Learn More</button>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </div>
</div>
