<div class="body">
    <div class="contenedor">
      <div class="top">
        <app-header>

        </app-header>
      </div>
      <div class="center">
        <mat-card>
          <mat-card-header>
            <!--profile pic an username-->
            <section class="example-section">
              <div class="items">
                <img [src]="url_avatar">
              </div>
              <div class="items">
                <mat-card-title>Welcome {{user.username}}#{{user.discriminator}}</mat-card-title>
              </div>

            </section>
          </mat-card-header>
          <mat-card-content>
            <section class="example-section">
              <form class="login-form">
                <mat-form-field class="login-full-width">
                  <input matInput placeholder="User" [value]="user.username">
                </mat-form-field>
                <mat-form-field class="login-full-width">
                  <input matInput placeholder="Discord Id" [value]="user.discord_id">
                </mat-form-field>
                <mat-form-field class="login-full-width">
                  <input *ngIf="user.verified==0" matInput placeholder="Verify Status" value="No Verified">
                  <input *ngIf="user.verified==1" matInput placeholder="Verify Status" value="Verified">
                </mat-form-field>
              </form>
            </section>

            <section class="example-section">
                <button [disabled]="!disabled" class="login-full-width" (click)="back()" mat-raised-button color="primary">
                  <<back
                </button>
            </section>
            </mat-card-content>
          </mat-card>
         </div>
        </div>
      </div>
