<mat-grid-list cols="2" rowHeight="100%">
    <mat-grid-tile [colspan]="1">
      <div class="home">
        <div class="link">
          <img [src]="url_avatar" class="icon-bot">
          <a routerLink="/profile/{{username}}" routerLinkActive="active">{{username}}</a>
        </div>
        <div class="link">
            <a routerLink="#feature" routerLinkActive="inactive">Feature</a>
        </div>
        <div class="link">
            <a routerLink="#blog" routerLinkActive="inactive">Blog</a>
        </div>
        <div class="link">
            <a routerLink="#comunity" routerLinkActive="inactive">Comunity</a>
        </div>
        <div class="link">
            <a routerLink="/table" routerLinkActive="active">Ranking</a>
        </div>
        <div class="link">
            <a routerLink="/verify/{{username}}" routerLinkActive="active">Account verify</a>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <div class="login">

        <div class="link">
            <a routerLink="#twitter" routerLinkActive="inactive">Twitter</a>
        </div>
        <div class="link">
            <a routerLink="#discord" routerLinkActive="inactive">Discord</a>
        </div>
        <div class="btn-login">
            <a routerLink="/" routerLinkActive="active">Logout</a>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
