.home {
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;

}

.content-center {
  margin: 0;
  width: 500px;

}

.content-center h1{
  font-size: 30px
}

.content-btn-left {
  align-items: center;
  align-content: center;
  text-align: center;
}

.content-btn-rigth {
  background: aqua;
  align-items: center;
  align-content: center;
  text-align: center;
}

.login {
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
}

.btn-login {
  display: flex;
  width: 100%;
  padding: 40px 0;
  align-items: center;
  justify-content: center;
}

.btn-login a{
  border: 1px solid white;
  background: none;
  padding: 0 20px;
  line-height: 35px;
  color: #fff;
  font-family: 'Helvetica', 'Arial', sans-sefir;
  font-size: 14px;
  display: block;
  text-decoration: none;
  border-radius: 20px;
}

.link{
  display: flex;
  align-items: center;
  padding: 16px;
}
.link a{
  line-height: 35px;
  color: #fff;
  font-family: 'Helvetica', 'Arial', sans-sefir;
  font-size: 14px;
  display: block;
  text-decoration: none;
  border-radius: 3px;
}

.login-full-width {
  width: 100%;
}

.icon-bot {
  width: 30px;
  height: 30px;
  padding: 10px;
}
