<div class="body">
  <div class="contenedor">
    <div class="top">

            <app-header>

            </app-header>

    </div>
    <div class="center">
      <div class="content-center">
        <div class="items" *ngFor="let user of dataSource">
          <mat-grid-list cols="14" rowHeight="100%" >
            <mat-grid-tile colspan="1" rowspan="1">
              #{{user.pos}}
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="1">
                <img src="../../assets/discord-512.png" class="icon-bot">
              </mat-grid-tile>
            <mat-grid-tile colspan="6" rowspan="1">
              <div class="alinearIzq">{{user.username}} {{user.discriminator}}</div>
            </mat-grid-tile>
            <mat-grid-tile colspan="4" rowspan="1">
              <div class="container" >
                  <div>{{user.xp_current}} / {{user.xp_lvl}} XP ({{user.xp_total}} tot.)</div>
                  <div>
                      <mat-progress-bar
                      color="primary"
                      mode="determinate"
                      [value]="porcentaje(user.xp_current, user.xp_lvl)"
                      bufferValue="100">
                  </mat-progress-bar>
                </div>
              </div>

              </mat-grid-tile>
            <mat-grid-tile colspan="2" rowspan="1">
              <div class="container">
                <div>
                    LEVEL
                </div>
                <div>
                    {{user.lvl}}
                </div>
                </div>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </div>
    </div>
  </div>
</div>
