.content-center {
  margin: 0;
  width: 1000px;
  position: relative;
  max-height: 90%;
  overflow: auto;
  background: #2c2c2c;
  border-radius: 10px;


}
.alinearIzq{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}


.items{
  border-bottom:  #999999 1px solid;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 0px;
  height: 40px;
  margin-top: 0px;
  overflow: hidden;
}

.example-margin {
  margin: 0 10px;
}
.align-center{
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
}

.tile-top{
  width: 100%;
	height: 50%;
	position: relative;
  top: 0;
}
.tile-bot{
  width: 100%;
	height: 50%;
	position: relative;
  bottom: 0;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
.container div {
  width: 100%;
}
.container div p{
  font: 9px;
}

.icon-bot {
  width: 30px;
  height: 30px;
  padding: 10px;
}
