/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */
   $text: #fff;
   $link: #e34234;
   $link-hover: #ba160c;
   $background: #00356B;

   html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
   body{line-height:1}
   article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
   nav ul{list-style:none}
   blockquote,q{quotes:none}
   blockquote:before,blockquote:after,q:before,q:after{content:none}
   a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
   mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
   del{text-decoration:line-through}
   abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
   table{border-collapse:collapse;border-spacing:0}
   hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
   input,select{vertical-align:middle}
   li{list-style:none}


   /* =============================================================================
      My CSS
      ========================================================================== */

   /* ---- base ---- */

   html,body{
     width:100%;
     height:100%;
     background:#111;
   }

   html{
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   }

   body{
     font:normal 75% Arial, Helvetica, sans-serif;
   }

   canvas{
     display: block;
     vertical-align: bottom;
   }


   /* ---- stats.js ---- */

   .count-particles{
     background: #000022;
     position: absolute;
     top: 48px;
     left: 0;
     width: 80px;
     color: #13E8E9;
     font-size: .8em;
     text-align: left;
     text-indent: 4px;
     line-height: 14px;
     padding-bottom: 2px;
     font-family: Helvetica, Arial, sans-serif;
     font-weight: bold;
   }

   .js-count-particles{
     font-size: 1.1em;
   }

   #stats,
   .count-particles{
     -webkit-user-select: none;
     margin-top: 5px;
     margin-left: 5px;
   }

   #stats{
     border-radius: 3px 3px 0 0;
     overflow: hidden;
   }

   .count-particles{
     border-radius: 0 0 3px 3px;
   }


   /* ---- particles.js container ---- */

   #particles-js{
     width: 100%;
     height: 100%;
     background-color: #313131;
     /* background-image: url('');*/
     background-size: cover;
     background-position: 50% 50%;
     background-repeat: no-repeat;
   }

   .background{
    height: 100vh;
    width: 100%;
    background-position: bottom center;
    color: white;
    text-align: center;
    background-color: #999999;
  }

  .body{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    color: $text;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0px 0px 2px #131415;
    font-family: 'Open Sans', sans-serif;
  }
  .contenedor {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }


.top {
	width: 100%;
	height: 48px;
	position: relative;
  top: 0;
}

.center {
  margin-left: auto;
  margin-right: auto;
	width: 100%;
	position: absolute;
	top: 48px;
	bottom: 48px;
  overflow: hidden;
	align-items: center;
  justify-content: center;
  display: flex;

}

.footer {
	width: 100%;
	height: 48px;
	position: absolute;
  bottom: 0;
	align-items: center;
	justify-content: center;
  margin-top: 3px;
}
