<!-- particles.js container -->

<div class="body">
  <div class="contenedor">
    <div class="center">
      <mat-card>
        <form class="login-form">
          <button class="login-full-width" (click)="loginFromDiscord()" mat-raised-button color="primary">Login From Discord</button>
          <mat-form-field class="login-full-width">
            <input matInput placeholder="User">
          </mat-form-field>

          <mat-form-field class="login-full-width">
            <input matInput placeholder="Password">
          </mat-form-field>
          <button class="login-full-width" mat-raised-button color="accent">Login</button>
        </form>
      </mat-card>
    </div>
  </div>
</div>
