.login-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.login-full-width {
  width: 100%;
}

.container {
  display: flex;
  width: 100%;
  padding: 40px 0;
  align-items: center;
  justify-content: center;
}

.container a {
  background: #7289DA;
  padding: 0 20px;
  line-height: 35px;
  color: #fff;
  font-family: 'Helvetica', 'Arial', sans-sefir;
  font-size: 20px;
  display: block;
  text-decoration: none;
  border-radius: 3px;
}

.example-header-image {
  /*background-image: url('../../assets/discord-512.png');*/
  background-size: cover;

  width: 100%;
  align-content: center;
  align-items: center;
  display: flex;
}
.items {
  font-size: 20px;
  padding: 16px;
  align-items: center;
  display: flex;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
}
.example-section mat-checkbox{
  padding-bottom: 16px;
}
