<div class="body">
  <div class="contenedor">
    <div class="top">
      <app-header>

      </app-header>
    </div>
    <div class="center">
      <mat-card>
        <mat-card-header>
          <!--profile pic an username-->
          <section class="example-section">
            <div class="items">
              <img [src]="url_avatar">
            </div>
            <div class="items">
              <mat-card-title>Welcome {{user.username}}#{{user.discriminator}}</mat-card-title>
            </div>

          </section>
        </mat-card-header>
        <mat-card-content>
          <section class="example-section">
            <form [formGroup]="myForm" class="login-form">
              <mat-form-field class="login-full-width">
                <input [errorStateMatcher]="matcher" formControlName="rsnFormControl" matInput placeholder="RSN">
                <mat-error *ngIf="myForm.hasError('invalidRegex')">
                  only <strong>A-Z0-9</strong>
                </mat-error>

              </mat-form-field>
            </form>
          </section>

          <section class="example-section">
            <mat-checkbox class="box" [(ngModel)]="disabled">Accept Terms and conditions</mat-checkbox>
          </section>
          <section class="example-section">
            <button [disabled]="!disabled" class="login-full-width" (click)="submit(this.myForm.get('rsnFormControl').value)" mat-raised-button color="primary">
              Submit
            </button>
          </section>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
